<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        td, th
        {
            padding: 5px;
        }
        .search-container {
            width: 70px;
            height: 70px;
            border-radius: 50px;
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 28px;
            gap: 24px;
            cursor: pointer;
            transition: width 500ms cubic-bezier(0.68, -0.55,0.8,1.55);
            overflow: hidden;
        }
        .search-container .active{
            width: 450px;
            justify-content: flex-start;
            cursor: default;
        }
        .search-container i {
            font-size: 22px;
        }
        input {
            display: none;
            outline: none;
            border: none;
            font-size: 18px;
            background-color: transparent;
        }
        i.fa-times{
            display: none;
            margin-left: auto;
            cursor: pointer;
        }
        .search-container .active > :is(i, input){
            display: block;
        }
    </style>
</head>
<body>
   
    <h1>Get All Todo</h1>

    <% if (typeof deleted !== 'undefined') { %>
        <% if (deleted == 'true') { %>
            <div style="color: green;">
                Deleted Successfully
            </div>
        <% } %>
        <br>
    <% } %>

    <div class="search-container">
        <i class="fa fa-search"></i>
        <input class="search-input" type="text" placeholder="search">
        <i class="fa fa-times"></i>
    </div>
    <!-- <form action="/todo" method="get">
        <input type="text" name="title" placeholder="Enter title">
        <button type="submit">Search</button>
    </form> -->
    <br>
    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Des</th>
            <th>Publish</th>
            <th>Action</th>
        </tr>
        <% todo.forEach((item) => { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.title %></td>
                <td><%= item.description %></td>
                <td><% if (item.published) { %> yes <% } %></td>
                <td>
                    <a href="/todo/edit/<%= item.id %>">Edit</a>
                    <br>
                    <a href="/todo/delete/<%= item.id%>" onclick="return confirm('bạn có muốn xóa hay không')"> delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
    <script>
        const search = document.querySelector('.search-container');
        const searchInput = document.querySelector('.search-input');
        const searchIcon = document.querySelector('.fa-search');
        const closeIcon = document.querySelector('.fa-times');

        searchIcon.addEventListener('click', () => {
        search.classList.add('active');
        searchInput.focus();
        });

        closeIcon.addEventListener('click', () => {
        search.classList.remove('active');
        searchInput.value = '';
        });
    </script>
</body>
</html>